---
permalink: /adhkar
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adhkar</title>
    <link rel="icon" href="../svg/pages-icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/ahadith-adhkar.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-image">
          <img
            src="../image/doaa-man.png"
            alt="alrasol-mohammed"
            style="width: 250px"
          />
        </div>
        <section class="adhkar-names"></section>
      </div>
    </header>
    <main class="adhkar">
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../js/adhkar.js" type="module"></script>
  </body>
</html>
