<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="icon" href="../svg/pages-icon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/home-page.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <main>
      <header>
        <div class="container">
          <h2>كِتَٰبٌ أَنزَلۡنَٰهُ إِلَيۡكَ مُبَٰرَكٞ لِّيَدَّبَّرُوٓاْ ءَايَٰتِهِۦ وَلِيَتَذَكَّرَ أُوْلُواْ ٱلۡأَلۡبَٰبِ</h2>
        </div>
      </header>
      <section>
        <div class="container">
          <h2>Monday, May 1, 2023 <span>(10 Shawwal 1444)</span></h2>
          <div class="content">
            <figure>
              <img src="../image/mosque.png" alt="mosque" />
            </figure>
            <article>
              <section class="Hijri-timing">
                <div class="row">
                  <span>Salah</span>
                  <span>Time</span>
                </div>
              </section>
              <a href="Hijri-calendar.html" class="btn">View Hijre Calender</a>
            </article>
          </div>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/muslim-quran.png" alt="mosque" />
          </figure>
          <article>
            <h2>إِنَّ هَٰذَا ٱلۡقُرۡءَانَ يَهۡدِي لِلَّتِي هِيَ أَقۡوَمُ وَيُبَشِّرُ ٱلۡمُؤۡمِنِينَ ٱلَّذِينَ يَعۡمَلُونَ ٱلصَّٰلِحَٰتِ أَنَّ لَهُمۡ أَجۡرٗا كَبِيرٗا</h2>
            <a href="Holy-Quran.html" class="btn">View Holy Quran</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/quran-1.jpg" alt="mosque" />
          </figure>
          <article>
            <h2>وَمَآ ءَاتَىٰكُمُ ٱلرَّسُولُ فَخُذُوهُ وَمَا نَهَىٰكُمۡ عَنۡهُ فَٱنتَهُواْۚ وَٱتَّقُواْ ٱللَّهَۖ إِنَّ ٱللَّهَ شَدِيدُ ٱلۡعِقَابِ</h2>
            <a href="ahadith.html" class="btn">View Ahadith</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/doaa-man.png" alt="mosque" />
          </figure>
          <article>
            <h2>يَٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُواْ ٱذۡكُرُواْ ٱللَّهَ ذِكۡرٗا كَثِيرٗا</h2>
            <a href="adhkar.html" class="btn">View Adhkar</a>
          </article>
        </div>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../js/home-page.js" type="module"></script>
  </body>
</html>
