.audio-player {
  --white-1: white;
  height: 50px;
  background: var(--dark-2);
  color: var(--white-1);
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
  border: 2px solid var(--dark-2);
  font-size: 1.3rem;
  width: 100%;
}
.audio-player .timeline {
  background: var(--white-1);
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: var(--drop-shadow);
}

.audio-player .timeline .progress {
  background: var(--gradient);
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}

.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player .controls .toggle-play {
  cursor: pointer;
}

.audio-player .controls .toggle-play:hover {
  transform: scale(1.1);
}

.audio-player .controls .time {
  display: flex;
}

.audio-player .controls .time > * {
  padding: 2px;
}

.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: var(--white-1);
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: var(--gradient);
  height: 100%;
  width: 75%;
}

.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}
