/* Hijri calandar section style */

section.Hijri-timing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
  border: 2px solid var(--dark-1);
  border-radius: var(--border-radius);
  padding: 10px 20px 25px;
  height: 100%;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

section.Hijri-timing .row {
  padding: 10px;
  border: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
}

section.Hijri-timing .row:not(:first-child):hover {
  background: var(--gradient);
  border-color: var(--main-color-1);
  color: var(--light-1);
}

section.Hijri-timing .row:first-child {
  border: none;
  color: var(--main-color-1);
  font-weight: 900;
  padding: 2px 10px;
  font-size: 1.4rem;
}
