@import url("./quran-player.css");

body {
  text-align: center;
}

.controllers {
  font-size: 1.8rem;
  justify-content: space-between;
  margin-top: 0;
  color: var(--dark-2);
  gap: 0;
}

.controllers .prev-next-controller {
  background: #e5e5e5;
  padding: 10px 0;
}

section.tafsir .container {
  display: grid;
  gap: 15px;
  direction: rtl;
  line-height: 42px;
}

section.tafsir header {
  color: var(--main-color-1);
}

section.tafsir header span.ayah-number {
  border-color: var(--main-color-1);
}

section.tafsir section.tafsir-text {
  font-size: 1.4rem;
}