body {
  text-align: center;
}

section.quran-player > .container {
  border: 2px solid var(--dark);
  margin: 10px auto;
  padding: 0;
  width: 96%;
  display: grid;
  gap: 20px;
}

section.quran-player header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0;
  gap: 10px;
  flex-direction: column;
  background-color: var(--dark);
}

section.quran-player header section.selections select {
  padding: 5px 0;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

section.quran-player header section.quran-text-surahs {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  background: #e5e5e5;
  width: 100%;
  padding: 5px 0;
}

section.quran-player section.quran-text {
  font-size: 1.8rem;
  direction: rtl;
  padding: 0 10px;
}

section.quran-player section.quran-text p.ayah-text {
  display: inline;
  cursor: pointer;
  padding: 5px 0;
  line-height: 48px;
}

section.quran-player section.quran-text p.ayah-text:hover {
  background-color: #eee;
}

section.quran-player section.quran-text p.ayah-text.active {
  background-color: var(--orange-1);
  color: var(--light);
}

/* span.ayah-number {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  width: 32px;
  align-items: center;
  height: 32px;
  font-size: 1rem;
  border: 2px solid var(--dark);
  position: relative;
  top: -3px;
  font-weight: bold;
} */

span.ayah-symbol-number {
  font-size: 2rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  line-height: 0;
}

span.ayah-symbol-number .symbol {
  font-family: auto;
}

span.ayah-number {
  font-size: 1rem;
  position: absolute;
  top: 23px;
  font-weight: bold;
}

section.quran-player section.quran-text p.ayah-text.active span.ayah-number {
  color: var(--light);
}

section.quran-player section.quran-text p.ayah-text::before {
  content: "\00a0";
}

.controllers {
  font-size: 1.8rem;
  justify-content: space-between;
  margin-top: 0;
  color: #444;
}

.quran-player footer {
  padding: 0;
}

.quran-player .quran-text .basmala:not(:first-child) {
  margin-top: 20px;
}

.controllers .prev-next-controller {
  margin-bottom: 10px;
}

section.tafsir .container {
  display: grid;
  gap: 15px;
  direction: rtl;
}

section.tafsir header {
  color: var(--orange-1);
}

section.tafsir header span.ayah-number {
  border-color: var(--orange-1);
}

section.tafsir section.tafsir-text {
  font-size: 1.4rem;
}
