section.quran-player {
  text-align: center;
}

section.quran-player > .container {
  border: 2px solid var(--dark);
  margin: 10px auto;
  padding: 0;
  width: 96%;
  display: grid;
  gap: 20px;
}

section.quran-player header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: var(--dark);
}

section.quran-player header select {
  padding: 0 40px;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

section.quran-player section.quran-text {
  font-size: 1.8rem;
  direction: rtl;
  padding: 0 10px;
}

section.quran-player section.quran-text p.ayah-text {
  display: inline;
  cursor: pointer;
}

section.quran-player section.quran-text p.ayah-text:hover {
  background-color: #eee;
}

section.quran-player section.quran-text p.ayah-text.active {
  background-color: var(--orange-1);
  color: var(--light);
}

section.quran-player section.quran-text p.ayah-text span.ayah-number {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  width: 32px;
  align-items: center;
  height: 32px;
  font-size: 1rem;
  border: 2px solid var(--dark);
  position: relative;
  top: -3px;
  font-weight: bold;
}

section.quran-player section.quran-text p.ayah-text.active span.ayah-number {
  background-color: var(--orange-1);
  color: var(--light);
  border: 2px solid var(--light);
}

section.quran-player section.quran-text p.ayah-text::before {
  content: "\00a0";
}

.controllers {
  font-size: 1.8rem;
  justify-content: space-between;
  margin-top: 0;
  color: #444;
}

.quran-player footer {
  padding: 0;
}

.quran-player .quran-text .basmala:not(:first-child) {
  margin-top: 20px;
}
