/* Style of the header */

header {
  background-image: url("../image/header-image1.jpg");
  background-size: cover;
  height: 100dvh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  color: var(--light);
  font-size: 1.2rem;
}

header .container {
  z-index: 1;
}

header h1 {
    font-size: 3rem;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--orange-1);
  filter: opacity(0.47) brightness(0.6);
}

/* Common Sections style */

main > section {
  padding: 2rem 0;
}

main > section:nth-of-type(2n) {
  background-color: var(--orange-3);
}

main > section h2 {
  text-align: center;
  font-size: 1.8rem;
}

.btn {
  margin-top: 25px;
}

main > section h2 span {
  color: var(--orange-1);
}

img {
  filter: var(--drop-shadow);
  width: 30vw;
  max-width: 400px;
  border-radius: var(--border-radius);
}

section .container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
}

/* Hijri calandar section style */

section h2 ~ .container {
  margin-top: 30px;
}

section.timing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  height: 100%;
  font-size: 1.2rem;
}

section.timing .row {
  padding: 10px;
  border: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
}

section.timing .row:not(:first-child):hover {
  background: var(--gradiant);
  border-color: var(--orange-1);
  color: var(--light);
}

section.timing .row:first-child {
  border: none;
  color: var(--orange-1);
  font-weight: 900;
  padding: 2px 10px;
  font-size: 1.4rem;
}

/* Holy Quran Section Style */
