@import url("./Hijri-timing.css");

main {
  margin-top: 0;
}

header {
  background-image: url("../image/header-image1.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  color: var(--light-1);
  font-size: 1.2rem;
}

header .container {
  z-index: 1;
}

header h1 {
  font-size: 3rem;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-1);
  filter: opacity(0.47) brightness(0.6);
}

/* Common Sections style */

.btn {
  margin-top: 25px;
}

figure {
  text-align: center;
}

img {
  width: 90%;
}

section > .container > .content,
section > .container.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  align-content: center;
  width: 45%;
  text-align: center;
  font-size: 1.2rem;
}

article h2, header h2 {
  line-height: 45px;
}

@media (max-width: 819px) {
  article {
    width: 100%;
    max-width: 550px;
  }
  img {
    width: 70%;
  }
}
