@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap");
@import url("./faded-circle-loader.css");
@import url("./circle-loader.css");
@import url("./navbar.css");
@import url("./controllers.css");

@font-face {
  font-family: alQuranFont;
  src: url(../font/hafs.woff);
}

/*
 * ----- Z-indexes -----
 * 30: Loading overlay
 * 20: Navbar
 * 19: Navbar overlay
 * 10: Scroll to top 
*/

:root {
  --main-color-1: var(--orange-1);
  --main-color-2: var(--orange-2);
  --main-color-3: var(--orange-3);
  --orange-1: #b9864d;
  --orange-2: #bf9759;
  --orange-3: #fff3ea;
  --light-1: #ffffff;
  --light-2: #f5f5f5;
  --light-3: #ebebeb;
  --dark-1: #222;
  --dark-2: #444;
  --dark-3: #666;
  --border-radius: 12px;
  --drop-shadow: drop-shadow(2px 2px 2px #170f052e);
  --transition: all 0.3s ease-in-out;
  --gradient: linear-gradient(45deg, var(--main-color-1), var(--main-color-2));
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "system-ui", sans-serif;
}

::selection {
  background-color: var(--main-color-2);
  color: var(--light-1);
}

body {
  color: var(--dark-1);
}

a {
  text-decoration: none;
  color: var(--light-2);
}

img {
  width: 100%;
  filter: var(--drop-shadow);
  max-width: 400px;
  border-radius: var(--border-radius);
}

svg {
  fill: currentColor;
}

/* Style of cards */
.card {
  counter-increment: cardCounter;
  background-color: var(--main-color-3);
  padding: 20px 35px;
  border-radius: var(--border-radius);
  filter: var(--drop-shadow);
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
  width: 216px;
}

.card:hover {
  transform: scale(1.05);
}

/* Style the btn */

.btn {
  display: inline-block;
  background: var(--gradient);
  border-radius: var(--border-radius);
  color: var(--light-1);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 12px 22px;
  text-align: center;
  transition: var(--transition);
  filter: var(--drop-shadow);
}

.btn:hover {
  transform: scale(1.02);
}

/* Loaing overlay style */

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--main-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style of the up arrow */

.scroll-to-top {
  --size: 50px;
  position: fixed;
  bottom: calc(-1 * var(--size));
  right: 20px;
  z-index: 10;
  background: var(--gradient);
  color: var(--light-1);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: var(--drop-shadow);
  transition: var(--transition);
}

/* Style the footer */

footer {
  padding: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  margin-right: 15px;
}

/* Style of sections */

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}

main > section {
  padding: 2rem 0;
}

main > section:nth-of-type(2n) {
  background-color: var(--main-color-3);
}

main > section > .container > h2 {
  text-align: center;
  font-size: 1.8rem;
}

main > section > .container > h2 span {
  color: var(--main-color-1);
}

main > section > .container > h2 {
  margin-bottom: 30px;
}
