@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap");
@import url("./fade-loader.css");
@import url("./circle-loader.css");

@font-face {
  font-family: alQuranFont;
  src: url(../font/ar-Othmani.ttf);
}

/*
 * Z-indexes
 * 30: Loading overlay
 * 20: Navbar
 * 19: Navbar overlay
 * 10: Scroll to top 
*/

:root {
  --orange-1: #b9864d;
  --orange-2: #bf9759;
  --orange-3: #fff3ea;
  --light: #ffffff;
  --dark: #444;
  --border-radius: 12px;
  --drop-shadow: drop-shadow(3px 3px 3px #170f052e);
  --transition: all 0.3s ease-in-out;
  --gradient: linear-gradient(45deg, var(--orange-1), var(--orange-2));
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "system-ui", sans-serif;
}

::selection {
  background-color: var(--orange-1);
  color: var(--light);
}

body {
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--light);
}

img {
  width: 100%;
  filter: var(--drop-shadow);
  max-width: 400px;
  border-radius: var(--border-radius);
}

/* Style of cards */
.card {
  counter-increment: cardCounter;
  background-color: var(--orange-3);
  padding: 20px 35px;
  border-radius: var(--border-radius);
  filter: var(--drop-shadow);
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
  width: 216px;
}

.card:hover {
  transform: scale(1.05);
}

/* Style the btn */

.btn {
  display: inline-block;
  background: var(--gradient);
  border-radius: var(--border-radius);
  color: var(--light);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 12px 22px;
  text-align: center;
  transition: var(--transition);
}

.btn:hover {
  transform: scale(1.05);
}

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--orange-3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style of the up arrow */

.scroll-to-top {
  --size: 50px;
  position: fixed;
  bottom: calc(-1 * var(--size));
  right: 20px;
  z-index: 10;
  background: var(--gradient);
  color: var(--light);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: var(--drop-shadow);
  transition: var(--transition);
}

/* Style the navbar */

nav,
body > footer {
  background: var(--gradient);
  color: var(--light);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  filter: var(--drop-shadow);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

nav section.logo {
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul.links {
  list-style: none;
  padding: 0;
  display: flex;
  transform-origin: top center;
  transition: var(--transition);
}

nav ul.links.show {
  transform: rotateX(0deg);
}

nav ul.links li {
  --padding-x: 20px;
  padding: var(--padding-x);
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  text-align: center;
}

nav ul.links li:hover {
  background-color: rgb(255 255 255 / 15%);
}

nav .menu-bars {
  display: none;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

nav .menu-bars span.bar {
  width: 100%;
  height: 3px;
  background-color: var(--light);
  transform-origin: center center;
  transition: var(--transition);
}

nav .menu-bars.active span.bar:first-child {
  transform: rotateZ(45deg);
  position: absolute;
}

nav .menu-bars.active span.bar:not(:first-child) {
  transform: rotateZ(-45deg);
  position: absolute;
}

@media (max-width: 768px) {
  nav ul.links {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--orange-1);
    transform: rotateX(90deg);
  }
  nav .menu-bars {
    display: flex;
  }

  nav ul.links li {
    border-top: 2px solid white;
  }
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 19;
  background: rgb(0 0 0 / 50%);
  height: 100%;
  width: 100%;
  display: none;
}

.nav-overlay.show {
  display: block;
}

/* Style the footer */

footer {
  padding: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  margin-right: 15px;
}

/* Style of sections */

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 10px;
}

main > section {
  padding: 2rem 0;
}

nav + * {
  margin-top: 100px;
}

main > section:nth-of-type(2n) {
  background-color: var(--orange-3);
}

main > section > .container > h2 {
  text-align: center;
  font-size: 1.8rem;
}

main > section > .container > h2 span {
  color: var(--orange-1);
}

main > section > .container > h2 {
  margin-bottom: 30px;
}

/* Controllers style */
.controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 2.2rem;
  color: var(--orange-1);
  gap: 5px;
  flex-direction: column;
}

.controllers .prev-next-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.controllers .prev-next-controller span {
  font-size: 1.4rem;
}

.controllers i {
  display: inline-block;
  cursor: pointer;
}
