/* Style the navbar */

nav,
body > footer {
  background: var(--gradient);
  color: var(--light-1);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  filter: var(--drop-shadow);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

nav section.logo {
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-align: left;
}

nav section.logo :where(a, img) {
  height: 100%;
  border-radius: 0;
  width: 85%;
}

nav ul.links {
  list-style: none;
  padding: 0;
  display: flex;
  transform-origin: top center;
  transition: var(--transition);
}

nav ul.links.show {
  transform: rotateX(0deg);
}

nav ul.links li {
  --padding-x: 20px;
  padding: var(--padding-x);
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  text-align: center;
}

nav ul.links li:hover {
  background-color: rgb(255 255 255 / 15%);
}

nav .menu-bars {
  display: none;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

nav .menu-bars span.bar {
  width: 100%;
  height: 3px;
  background-color: var(--light-1);
  transform-origin: center center;
  transition: var(--transition);
}

nav .menu-bars.active span.bar:first-child {
  transform: rotateZ(45deg);
  position: absolute;
}

nav .menu-bars.active span.bar:not(:first-child) {
  transform: rotateZ(-45deg);
  position: absolute;
}

@media (max-width: 849px) {
  nav ul.links {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--main-color-1);
    transform: rotateX(90deg);
  }
  nav .menu-bars {
    display: flex;
  }

  nav ul.links li {
    border-top: 1px solid white;
    padding: calc(var(--padding-x) / 1.5);
  }
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 19;
  background: rgb(0 0 0 / 50%);
  height: 100%;
  width: 100%;
  display: none;
}

.nav-overlay.show {
  display: block;
}

nav + * {
  margin-top: 100px;
}
