@import url("./audio-player.css");

section.quran-player > .container {
  border: 2px solid var(--dark);
  margin: 10px auto;
  padding: 0;
  width: 96%;
  display: grid;
  gap: 20px;
}

section.quran-player header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0;
  gap: 10px;
  flex-direction: column;
  background-color: var(--dark);
}

section.quran-player header section.selections select {
  padding: 5px 0;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

section.quran-player header section.quran-text-surahs {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  background: #e5e5e5;
  width: 100%;
  padding: 5px 0;
}

section.quran-player section.quran-text {
  font-size: 1.8rem;
  direction: rtl;
  padding: 0 10px;
}

section.quran-player section.quran-text p.ayah-text {
  display: inline;
  cursor: pointer;
  padding: 15px 5px 15px 0;
  line-height: 63px;
}

section.quran-player section.quran-text p.ayah-text:hover {
  background-color: #eee;
}

section.quran-player section.quran-text p.ayah-text.active {
  background-color: var(--orange-2);
  color: var(--light);
  position: relative;
  z-index: 2;
}

span.ayah-symbol-number {
  font-size: 0.88rem;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  position: relative;
  top: -6px;
  line-height: 36px;
}

span.ayah-symbol-number svg {
  position: absolute;
}

section.quran-player section.quran-text p.ayah-text.active span.ayah-number {
  color: var(--light);
}

section.quran-player footer {
  padding: 0;
}

section.quran-player .quran-text .basmala:not(:first-child) {
  margin-top: 20px;
}

section.quran-player .quran-text .surah-name {
  position: relative;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  background-color: #e5e5e5;
  max-width: 440px;
  margin: 0 auto;
  border-radius: 18px;
  border: 2px solid var(--dark);
  font-family: alQuranFont;
  font-weight: bold;
  /* font-size: 2rem; */
}

section.quran-player .quran-text .surah-name:not(:first-child) {
  margin-top: 20px;
}

section.quran-player .quran-text .surah-name:has(+ :not(.basmala)) {
  margin-bottom: 20px;
}

section.quran-player .quran-text .surah-name svg {
  position: absolute;
}
