<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/Hijri-timing.css" />
    <link rel="stylesheet" href="../css/Hijri-calendar.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <main>
      <section>
        <div class="container">
          <h2></h2>
          <section class="Hijri-timing">
            <div class="row">
              <span>Salah</span>
              <span>Time</span>
            </div>
          </section>
        </div>
      </section>
      <section>
        <div class="container">
          <h3>Gregorion date to Hijri</h3>
          <input type="month"/>
        </div>
      </section>
      <section>
        <section class="Gregorian-Hijri-overlay" style="display: none;">
          <div class="container">
            <div>
              <h3>Gregorion</h3>
              <p>Date</p>
            </div>
            <div>
              <h3>Hijri</h3>
              <p>Date</p>
            </div>
            <div class="prayer-timings">
              <h3>Prayer timings</h3>
              <p class="row">
                <span>Salah</span>
                <span>Time</span>
              </p>
              <div class="timing-rows">

              </div>
            </div>
          </div>
        </section>
        <div class="container">
          <h2>Date Here</h2>
          <div class="content">
            
          </div>
          <div class="controllers">
            <i class="previous fa-regular fa-circle-left"></i>
            <i class="next fa-regular fa-circle-right"></i>
          </div>
        </div>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../controller/Hijri-calendar.js" type="module"></script>
  </body>
</html>
