<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/Hijri-calendar.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <main>
      <section>
        <h2>Date Here</h2>
        <section class="timing">
          <div class="row">
            <span>Salah</span>
            <span>Time</span>
          </div>
        </section>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../controller/Hijri-calendar.js" type="module"></script>
  </body>
</html>
