<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Holy Quran</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/Holy-Quran.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <header></header>
    <main>
      <section class="quran-player">
        <div class="container">
          <header>
            <section class="selections">
              <select name="quran-page" class="quran-page"></select>
              <select name="quran-surah" class="quran-surah"></select>
            </section>
            <section class="quran-text-surahs"></section>
          </header>
          <section class="quran-text" data-continue-playing="false"></section>
          <footer>
            <div class="controllers">
              <div class="prev-next-controller">
                <i class="next fa-regular fa-circle-left"></i>
                <span class="page-number">Page1</span>
                <i class="previous fa-regular fa-circle-right"></i>
              </div>
              <div class="audio-player" style="margin: 0 auto">
                <div class="timeline">
                  <div class="progress"></div>
                </div>
                <div class="controls">
                  <div class="play-container">
                    <i class="toggle-play fa-solid fa-play"></i>
                  </div>
                  <div class="time">
                    <div class="current">0:00</div>
                    <div class="divider">/</div>
                    <div class="length"></div>
                  </div>
                  <div class="volume-container">
                    <div class="volume-button">
                      <i class="volume fa-solid fa-volume-high"></i>
                    </div>
                    <div class="volume-slider">
                      <div class="volume-percentage"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </section>
      <section class="tafsir">
        <div class="container">
          <header>
            <h2 class="ayah-text">Ayah name will be here</h2>
          </header>
          <section class="tafsir-text">
            <p>Tafsir text will be here</p>
          </section>
        </div>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../controller/Holy-Quran.js" type="module"></script>
  </body>
</html>
