<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/home-page.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <main>
      <header>
        <div class="container"></div>
      </header>
      <section>
        <h2>Monday, May 1, 2023 <span>(10 Shawwal 1444)</span></h2>
        <div class="container">
          <figure>
            <img src="../image/mosque.png" alt="mosque" />
          </figure>
          <article>
            <section class="timing">
              <div class="row">
                <span>Salah</span>
                <span>Time</span>
              </div>
            </section>
            <a href="#" class="btn">View Hijre Calender </a>
          </article>
        </div>
      </section>
      <section>
        <div class="container">
          <figure>
            <img src="../image/muslim-quran.png" alt="mosque" />
          </figure>
          <article>
            <a href="#" class="btn">View Holy Quran</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container">
          <figure>
            <img src="../image/quran-1.jpg" alt="mosque" />
          </figure>
          <article>
            <a href="#" class="btn">View Ahadith</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container">
          <figure>
            <img src="../image/doaa-man.png" alt="mosque" />
          </figure>
          <article>
            <a href="#" class="btn">View Adhkar</a>
          </article>
        </div>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../controller/home-page.js" type="module"></script>
    <script src="../controller/Holy-Quran.js" type="module"></script>
    <script src="../controller/Hijri-calendar.js" type="module"></script>
    <script src="../controller/ahadith.js" type="module"></script>
    <script src="../controller/adhkar.js" type="module"></script>
  </body>
</html>
